node-red-mqtt-phue.json
[
    {
        "id": "e42caf8c1709391c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a53cc4f0048b8e80",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "76bbc66bce263f4d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d0731fc35bc9e54",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.2.174",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "48e4574020c5fa11",
        "type": "ui_tab",
        "name": "Hue Lights",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3fe9568e442a219e",
        "type": "ui_group",
        "name": "Adjust",
        "tab": "48e4574020c5fa11",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "778faa7b9053d793",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "66ab5500c3edbb64",
        "type": "ui_group",
        "name": "Info",
        "tab": "48e4574020c5fa11",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfeb9f799fe948f9",
        "type": "ui_spacer",
        "z": "e42caf8c1709391c",
        "name": "spacer",
        "group": "3fe9568e442a219e",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "f84097577b8b6a45",
        "type": "ui_spacer",
        "z": "e42caf8c1709391c",
        "name": "spacer",
        "group": "66ab5500c3edbb64",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "340dd6a338419d15",
        "type": "mqtt in",
        "z": "e42caf8c1709391c",
        "name": "",
        "topic": "tester/huelights",
        "qos": "0",
        "datatype": "json",
        "broker": "778faa7b9053d793",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "9f5be27c2b4c5ea7",
                "4aabdafc9502a0ca",
                "d1ecf74d92c37d6a",
                "709cc4bc34c4e43a"
            ]
        ]
    },
    {
        "id": "9f5be27c2b4c5ea7",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.rgbcolour",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b3c146ca78874ba",
        "type": "ui_colour_picker",
        "z": "e42caf8c1709391c",
        "name": "",
        "label": "Colour Picker",
        "group": "3fe9568e442a219e",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": 5,
        "height": 4,
        "passthru": true,
        "topic": "colour",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "7b9d65810e1b6854",
                "597764bdb7240cc4"
            ]
        ]
    },
    {
        "id": "440f236f1a866735",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "78d3b64502cc7304",
        "type": "ui_text",
        "z": "e42caf8c1709391c",
        "group": "3fe9568e442a219e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pick a colour, brightness, and specific light(s) to have it displayed on the Hue lighting system",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "0342aa15fdbddc7e",
        "type": "ui_slider",
        "z": "e42caf8c1709391c",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "3fe9568e442a219e",
        "order": 4,
        "width": 11,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "brightness",
        "topicType": "str",
        "min": 0,
        "max": "254",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "e3c75a9fee0efe11",
                "0ebaa9e6c7dce6c9"
            ]
        ]
    },
    {
        "id": "b7711df67b06225c",
        "type": "mqtt out",
        "z": "e42caf8c1709391c",
        "name": "",
        "topic": "tester/huelights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "778faa7b9053d793",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "c4daa945c65217b4",
        "type": "function",
        "z": "e42caf8c1709391c",
        "name": "RGB to XY",
        "func": "//var converter = global.get('colorConvertRGBtoXY');\nvar converter = q42philipsHueColorConverter;\nmsg.payload = converter.calculateXY(msg.payload[0], msg.payload[1], msg.payload[2]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "q42philipsHueColorConverter",
                "module": "@q42philips/hue-color-converter"
            }
        ],
        "x": 490,
        "y": 620,
        "wires": [
            [
                "7edefc92d8bdf126",
                "82ef2142dae4b2f0",
                "365c5f5ed8cada95"
            ]
        ]
    },
    {
        "id": "7edefc92d8bdf126",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b9d65810e1b6854",
        "type": "function",
        "z": "e42caf8c1709391c",
        "name": "parser",
        "func": "msg.payload = msg.payload.substring(5, msg.payload.length - 1);\nconst rgbArray = msg.payload.split(\", \");\nmsg.payload = rgbArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "c4daa945c65217b4",
                "1b2295870b72ad10"
            ]
        ]
    },
    {
        "id": "82ef2142dae4b2f0",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "365c5f5ed8cada95",
        "type": "function",
        "z": "e42caf8c1709391c",
        "name": "encoder [RGB]",
        "func": "// This is needed as arrays cannot be sent over MQTT so we will\n//  have to decode on the backend (client)\nmsg.payload = msg.payload[0].toString() + \":\" + msg.payload[1].toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 620,
        "wires": [
            [
                "0ebaa9e6c7dce6c9"
            ]
        ]
    },
    {
        "id": "0ebaa9e6c7dce6c9",
        "type": "join",
        "z": "e42caf8c1709391c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ":",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 620,
        "wires": [
            [
                "440f236f1a866735",
                "b7711df67b06225c"
            ]
        ]
    },
    {
        "id": "32b79ed1942de1b6",
        "type": "ui_dropdown",
        "z": "e42caf8c1709391c",
        "name": "",
        "label": "Light Names",
        "tooltip": "",
        "place": "Select option",
        "group": "3fe9568e442a219e",
        "order": 3,
        "width": 11,
        "height": 2,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "Bloom",
                "type": "str"
            },
            {
                "label": "",
                "value": "LightStripSolarLab",
                "type": "str"
            },
            {
                "label": "",
                "value": "LightStrip Front Lightbox",
                "type": "str"
            },
            {
                "label": "",
                "value": "Reception South",
                "type": "str"
            },
            {
                "label": "",
                "value": "Front Vestibule",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lightstrip 12N-East Entrance",
                "type": "str"
            },
            {
                "label": "",
                "value": "22N Reception PV light",
                "type": "str"
            },
            {
                "label": "",
                "value": "Lightstrip22NorthReception",
                "type": "str"
            },
            {
                "label": "",
                "value": "22N reception wall light",
                "type": "str"
            },
            {
                "label": "",
                "value": "Front Light",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hue color lamp 2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hue color light 1",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hue color light 2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Showcase L",
                "type": "str"
            },
            {
                "label": "",
                "value": "Showcase R",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hue color light 3",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hue color light 4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "lightnames",
        "topicType": "str",
        "className": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "697dfe0a9760db9f",
                "2a6b9eb97a29e059"
            ]
        ]
    },
    {
        "id": "b728d14a0c9b4f47",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "e3c75a9fee0efe11",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "597764bdb7240cc4",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 680,
        "wires": []
    },
    {
        "id": "697dfe0a9760db9f",
        "type": "function",
        "z": "e42caf8c1709391c",
        "name": "encoder [lightnames]",
        "func": "var result = \"\";\n\nfor (let i = 0; i < msg.payload.length - 1; i++) {\n    result += msg.payload[i] + \":\";\n}\nresult += msg.payload[msg.payload.length - 1];\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "b728d14a0c9b4f47",
                "0ebaa9e6c7dce6c9"
            ]
        ]
    },
    {
        "id": "2a6b9eb97a29e059",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "4aabdafc9502a0ca",
        "type": "ui_text",
        "z": "e42caf8c1709391c",
        "group": "66ab5500c3edbb64",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Brightness: ",
        "format": "{{msg.payload.brightness}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f4d89b1e24d4f0e",
        "type": "ui_text",
        "z": "e42caf8c1709391c",
        "group": "66ab5500c3edbb64",
        "order": 4,
        "width": 5,
        "height": 4,
        "name": "",
        "label": "Lights Selected: ",
        "format": "{{msg.payload.lightnames}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "d1ecf74d92c37d6a",
        "type": "function",
        "z": "e42caf8c1709391c",
        "name": "formatting",
        "func": "var lightnames = msg.payload.lightnames.split(\":\");\nvar result = \"\";\n\nfor (let i = 0; i < lightnames.length - 1; i++) {\n    result += lightnames[i] + \", \";\n}\nresult += lightnames[lightnames.length - 1]\nmsg.payload.lightnames = result;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "0f4d89b1e24d4f0e"
            ]
        ]
    },
    {
        "id": "1b2295870b72ad10",
        "type": "change",
        "z": "e42caf8c1709391c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rgbcolour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "0ebaa9e6c7dce6c9",
                "dbfe3c01959487aa"
            ]
        ]
    },
    {
        "id": "dbfe3c01959487aa",
        "type": "debug",
        "z": "e42caf8c1709391c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "709cc4bc34c4e43a",
        "type": "ui_text",
        "z": "e42caf8c1709391c",
        "group": "66ab5500c3edbb64",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Colour (RGB): ",
        "format": "{{msg.payload.rgbcolour}}",
        "layout": "row-spread",
        "className": "",
        "x": 380,
        "y": 280,
        "wires": []
    }
]